<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entrar</title>
</head>
<body>
    <p class="text">Entrar</p>
    <p class="description">Use o email de sua corporação</p>
    <form name="login" action="/weblogin" method="post">
        <input type="email" id="email" name="email" placeholder="Email" onblur="validacaoEmail(login.email)" maxlength="60" size='65'>
        <div id="msgemail"></div>
        <input type="password" name="senha" placeholder="Senha" size="65">
        <div id="msgsenha"></div>
        <input id="btnLogin" type="submit" value="Entrar" method="POST">
    </form>
</body>
</html>